### general ###
*
!**/
!README.md
!todo.md

### git ###
!/.git/.gitconfig
!/.gitignore
!.gitkeep

### aosp2yolo ###
!/aosp2yolo.py
!/split_data.py

### ignore ###
*.pem
*.key
*.swp
.DS_Store
__pycache__/
.idea/
*.pyc
.netrwhist
*.jpg
*.txt
